.clients {
  &__list {
    --card-item: 2;
    @media screen and (min-width: 768px) {
      --card-item: 3;
    }
    @media screen and (min-width: 1200px) {
      --card-item: 6;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: var(--icon-cl);
    transition: color var(--timeing);
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-txt-cl);
  }
  &__icon {
    fill: currentColor;
  }
}
