.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  &__btn {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    color: var(--dark-txt-cl);
    background-color: var(--command-bg-cl);
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    transition: color var(--timeing), background-color var(--timeing), box-shadow var(--timeing);
  }
  &__btn--current,
  &__btn:hover,
  &__btn:focus {
    color: var(--light-txt-cl);
    background-color: var(--accent-txt-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio {
  &__link {
    display: block;
    transition: box-shadow var(--timeing);
  }
  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__card {
    position: relative;
    overflow: hidden;
  }
  &__text {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    color: var(--light-txt-cl);
    transform: translateY(0);
    opacity: 0;
    transition: transform var(--timeing), opacity var(--timeing);
  }
  &__link:hover &__text,
  &__link:focus &__text {
    transform: translateY(-100%);
    opacity: 1;
  }
  &__content {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
  }
  &__header {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--dark-txt-cl);
    margin-bottom: 4px;
  }
  &__type {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}
