.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  &--header {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
  &--footer {
    gap: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
      // gap: 70px;
      // row-gap: 0;
      align-items: baseline;
      justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      gap: 70px;
      // row-gap: 0;
      // align-items: baseline;
    }
  }
}
