.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  &--header {
    display: flex;
    align-items: center;
  }
  &--footer {
    display: flex;
    gap: 70px;
    align-items: baseline;
  }
}
